SHOPIFY_ACCESS_TOKEN=put_your_shopify_access_token_here
shopify_secret_key=put_your_shopify_secret_key_here
etsy_client_id=put_your_etsy_client_id_here
etsy_shop_id=put_your_etsy_shop_id_here
etsy_redirect_uri=https://www.example.com/api
MY_ADDRESS=put_your_email_address_here
PASSWORD=put_your_email_password_here
email_server=put_your_email_server_here
email_server_port=put_your_email_port_here
tindie_api_key=put_your_tindie_api_key_here
tindie_username=put_your_tindie_username_here
tindie_password=put_your_tindie_password_here
avrdude_path_windows=C:\\Users\\username\\AppData\\Local\\Arduino15\\packages\\arduino\\tools\\avrdude\\6.3.0-arduino18/bin/avrdude
avrdude_config_path_win=-CC:\Users\username\AppData\Local\Arduino15\packages\arduino\tools\avrdude\6.3.0-arduino17/etc/avrdude.conf
avr_programmer_path_windows=C:\\Users\\username\\Documents\\Projects\\AVRProgrammer\\arduino-cli.exe
projects_folder_win=C:\\projects\\
avrdude_path_pi=/home/pi/.arduino15/packages/arduino/tools/avrdude/6.3.0-arduino18/bin/avrdude
avrdude_config_path_rpi=-C/home/pi/.arduino15/packages/arduino/tools/avrdude/6.3.0-arduino17/etc/avrdude.conf
avr_programmer_path_pi=/home/pi/bin/arduino-cli
projects_folder_rpi=/home/pi/Documents/arduino/Projects/
ship_engine_api_key_sandbox=put_your_ship_engine_api_key_sanbox_here
ship_engine_warehouse_id_sandbox=put_your_ship_engine_warehouse_id_sandbox_here
ship_engine_carrier_id_sandbox=put_your_ship_engine_carrier_id_sandbox_here
ship_engine_api_key_prod=put_your_ship_engine_api_key_prod_here
ship_engine_warehouse_id_prod=put_your_ship_engine_warehouse_id_prod_here
ship_engine_carrier_id_prod=put_your_ship_engine_carrier_id_prod_here
ship_engine_ship_from_name=put_your_ship_from_name_here
ship_engine_ship_from_phone=put_your_ship_from_phone_here
ship_engine_ship_from_address_line_1=put_your_ship_from_address_line_1_here
ship_engine_ship_from_city=put_your_ship_from_city_here
ship_engine_ship_from_state=put_your_ship_from_state_abbreviation_here
ship_engine_ship_from_zip=put_your_ship_from_zip_code_here
ship_engine_ship_from_country_code=put_your_ship_from_country_code_here
shipping_label_branding=put_your_ship_engine_logo_id_here
ship_environment_is_prod=False
lectronz_bearer_token=put_your_lectronz_bearer_token_here
exchange_rate_api_key=put_your_exchange_rate_api_key_here
open_ai_api_key=put_your_open_ai_api_key_here
is_raspberry_pi=False